page-config {
    .bg-style {
        background: #dfe0e0;
    }
    .img-center {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}