page-profile {
    .bg-style {
        background: #ffffff;
    }
    // .img-center {
    //     position: absolute;
    //     margin: auto;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
    .save-button {
        position: absolute;
        text-align: center;
        width:50%;
        bottom: 45%;
        left: 25%;
    }
}
